<div class="main tweets_index">
  <div class="container">
    <div class="form-heading">みんなのつぶやき広場</div>
      <% @tweets.each do |tweet| %>
        <div class="tweets_index_item">
          <%= tweet.content %>
          <%= link_to "【編集】", [:edit, tweet] %>
        </div>
      <% end %>
    </div>
  </div>
</div>
