<div class="main tweet_new">
  <div class="container">
    <div class="form-heading">つぶやき作成</div>
      <div class="form tweets_form">
        <div class="form-body">
          <%= render "error_message", tweet: @tweet %>
          <%= render "form", tweet: @tweet %>
        </div>
      </div>
    </div>
  </div>
</div>
