<div class="top-wrapper">
  <div class="container">
    <h2> 家計簿アプリ</h2>
    <p>
      家計簿の目的は自分の<br>
      消費動向を把握して、無駄遣いをしないようにすることです
    </p>
    <p>このアプリは無駄使いをしているあなたを救いたいアプリ</p>
    <div class="btn-wrapper">
      <%= link_to "(▽◕ ᴥ ◕▽)会員登録", new_user_path, class: "btn signup" %>
      <p>すでにアカウント作成済みの方</p>
      <%= link_to "(▽◕ ᴥ ◕▽)ログイン", login_path, class: "btn login" %>
    </div>
  </div>
</div>
