<div class="top-wrapper">
  <div class="container">
    <h2>
      (▽◕ ᴥ ◕▽)○柴～。ねえ、知ってる？<br>
      家計簿アプリ
    </h2>
    <p>
      (▽◕ ᴥ ◕▽)○柴～。ねえ、知ってる？家計簿の目的は自分の<br>
      消費動向を把握して、無駄遣いをしないようにすることです
    </p>
    <p>(▽◕ ᴥ ◕▽)○柴～。ねえ、知ってる？このアプリは無駄使いをしているあなたを救いたいアプリ</p>
    <div class="btn-wrapper">
      <a href="users/new" class="btn signup">(▽◕ ᴥ ◕▽)新規登録はこちら</a>
      <p>すでにアカウント作成済みの方</p>
      <a href="users/login" class="btn login"><span class="fa fa-facebook"></span>(▽◕ ᴥ ◕▽)ログイン</a>
    </div>
  </div>
</div>
