<div class="main posts-new">
  <div class="container">
    <div class="form-heading">新規作成</div>
    <div class="form posts-form">
      <div class="form-body">
        <% if @post.errors.any? %>
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
        <% end %>
        <%= render "form", post: @post %>
      </div>
    </div>
  </div>
</div>
