<div class="main posts-new">
  <div class="container">
    <div class="form-heading">新規作成</div>
    <div class="form posts-form">
      <div class="form-body">
        <%= render "form", post: @post %>
      </div>
    </div>
  </div>
</div>
