// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.category_form {
  width: 100%;
}

.category_btn {
  padding-top: 20px;
  text-align: center;
}
