header, footer {
  width: 100%;
  padding: 10px;
  background: lightskyblue;
  color: #fff;
  margin: 0px;
}
footer {
  position: absolute;
  bottom: 0px;
}
table th {
  background-color: lightskyblue;
  padding: 10px 20px;
}
table td {
  background-color: #f9ecd5;
  padding: 10px 20px;
}
.notice {
  background-color: #ccf;
  padding: 5px;
}


