<div class="main category-new">
  <div class="container">
    <div class="form-heading">編集</div>
    <div class="form category-form">
      <div class="form-body">
        <%= render "error_message", category: @category %>
        <%= render "form", category: @category %>
      </div>
    </div>
  </div>
</div>
