<h3 class="post_h3">カテゴリ一覧</h3>
<table>
  <thead>
    <tr>
      <th>カテゴリー</th>
      <th>編集</th>
      <th>消去</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
        <td><%= category.name %></td>
        <td><%= link_to "編集", [:edit, category] %></td>
        <td><%= link_to "削除", category, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="post_btn">
  <%= link_to "新規作成", new_category_path , class: "btn" %>
</div>
