<header>
  <div class="header-logo">
    <h1>(▽◕ ᴥ ◕▽)○柴～。ねえ、知ってる？家計簿アプリ</h1>
  </div>
  <ul class="header-menus">
    <li>
      <%= link_to("家計簿アプリとは", "/about") %>
    </li>
    <li>
      <%= link_to("投稿一覧", "/posts/index") %>
    </li>
    <li>
      <%= link_to("新規投稿", "/posts/new") %>
    </li>
    <li>
      <%= link_to("ユーザー一覧", "/users/index")%>
    </li>
  </ul>
</header>
